.section {
  background-color: #0f0f0f;
  background-image:
    linear-gradient(180deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 68%),
    linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(15, 15, 15, 1) 100%),
    radial-gradient(circle at 41% 12%, rgba(0, 0, 0, 0) 0%, rgba(0, 255, 178, 0.6) 100%);
}

.kicker {
  background: rgba(236, 242, 48, 0.06);
  border: 1px solid rgba(236, 242, 48, 0.08);
  border-radius: 41px;
  padding: 8px 54px;
  font-size: 22px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.61);
}

.title {
  font-size: 56px;
  line-height: 1.0714285714em;
}

.subtitle {
  font-size: 30px;
  line-height: 1.1em;
}
