.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  margin-bottom: 50px;
}

.tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tag {
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}

.tag:hover {
  border-color: #ECF230;
  color: #ECF230;
}

.tagActive {
  background: #ECF230 !important;
  color: #312e2e !important;
  border-color: #ECF230 !important;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
}

.searchInput {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  color: #ffffff61;
  padding: 14px 26px;
  border-radius: 900px;
  width: 100%;
  font-size: 14px;
}

.searchButton {
  padding: 18px;
  border-radius: 100%;
  background: #ffffff;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.searchButton svg {
  color: #000000;
}

@media (max-width: 960px) {
  .tags {
    display: none;
  }

  .container {
    margin-bottom: 24px;
  }

  .searchInput { padding: 12px 16px; }
}
