name: Deploy Marketplace

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/Marketplace-Tech
            
            # Se não houver a pasta .git, limpa e clona do zero
            if [ ! -d ".git" ]; then
              echo "Pasta vazia ou sem git. Clonando..."
              rm -rf *
              git clone https://github.com/WilmarFilho/Marketplace-Tech.git .
            else
              echo "Pasta já é um repositório. Atualizando..."
              git fetch origin main
              git reset --hard origin/main
            fi

            # Comando do Docker corrigido (usando compose)
            docker compose up -d --build