name: Deploy Marketplace

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Garante que a pasta existe
            mkdir -p ~/Marketplace-Tech
            cd ~/Marketplace-Tech
            
            # Inicializa o git se não houver, ou clona
            if [ ! -d ".git" ]; then
              git clone https://github.com/WilmarFilho/Marketplace-Tech.git .
            fi
            
            # Puxa as alterações ignorando erros de histórico não relacionado
            git pull origin main --rebase
            
            # Sobe o sistema
            docker compose up -d --build